{% load static %}

<div style="display: none;">
    <img src="/static/images/blanket.webp" alt="Blanket" class="img-fluid rounded">
    <img src="/static/images/scarbes.webp" alt="Scarves" class="img-fluid rounded">
    <img src="/static/images/amigurumi.webp" alt="Amigurumi" class="img-fluid rounded">
    <img src="/static/images/cardigan.webp" alt="cardigan" class="img-fluid rounded">
    <img src="/static/images/hat.webp" alt="Hats" class="img-fluid rounded">
    <img src="/static/images/dishcloth.webp" alt="dishcloths" class="img-fluid rounded">
</div>

  