{% load static %}

<div style="display: none;">
    <img src="/static/images/blanket.webp" alt="blanket" class="img-fluid rounded">
    <img src="/static/images/scarves.webp" alt="scarves" class="img-fluid rounded">
    <img src="/static/images/amigurumi.webp" alt="amigurumi" class="img-fluid rounded">
    <img src="/static/images/cardigan.webp" alt="cardigan" class="img-fluid rounded">
    <img src="/static/images/hats.webp" alt="hats" class="img-fluid rounded">
    <img src="/static/images/dishcloths.webp" alt="dishcloths" class="img-fluid rounded">
</div>

  