body {
    background-color: rgb(211, 236, 252) !important; 
    font-family: "Quicksand", sans-serif;
    font-weight: 400; /* or any value between 300–700 depending on what you want */
}
/* nav bar styling*/
.navbar {
    background-color: transparent !important;
    border-bottom: none; 
}

.navbar-brand {
    font-family: 'Rock Salt', cursive;
    font-size: 1.3rem;
    font-weight: normal;
    color: #131111 !important;
    letter-spacing: 0.3px;
}
.navbar .navbar-brand {
    color: black !important; 
    text-align: center;
}

.navbar .nav-link {
    color: black !important; 
    font-size: 18px; 
}

.footer {
    background-color: rgb(211, 236, 252) !important;
    color: #1a1818 !important;
    padding: 20px 0;
    text-align: center;   
}