{% extends "base_generic.html" %}

{% block content %}
  <!-- Category Navigation -->
  <h2>Browse by Category:</h2>
  <ul>
    <li><a href="{% url 'category_view' 'Blankets' %}">Blankets</a></li>
    <li><a href="{% url 'category_view' 'Cardigans' %}">Cardigans</a></li>
    <li><a href="{% url 'category_view' 'Amigurumi' %}">Amigurumi</a></li>
    <li><a href="{% url 'category_view' 'Scarves' %}">Scarves</a></li>
    <li><a href="{% url 'category_view' 'Hats' %}">Hats</a></li>
    <li><a href="{% url 'category_view' 'Dishcloths' %}">Dishcloths</a></li>
  </ul>

  <!-- Category Projects -->
  <h1>Projects in {{ category }} Category</h1>

  {% if projects %}
    <ul>
      {% for project in projects %}
        <li>
          <h2>{{ project.name }}</h2>
          <p>{{ project.description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No projects found in this category.</p>
  {% endif %}
{% endblock %}


