{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center mt-4">
    <h1>Welcome to The Crochet Nook</h1>
    <p>Select a category to explore:</p>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card">
                <a href="{% url 'category_view' 'Blankets' %}" class="d-block">
                    <img src="{% static 'images/blanket.png' %}" alt="Blankets" class="img-fluid rounded">
                </a>
                <h3 class="mt-2">Blankets</h3> <!-- Move h3 OUTSIDE the <a> tag -->
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card-1">
                <a href="{% url 'category_view' 'Cardigans' %}" class="d-block">
                    <img src="{% static 'images/cardigan.png' %}" alt="Cardigans" class="img-fluid rounded">
                </a>
                <h3 class="mt-2">Cardigans</h3>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card-2">
                <a href="{% url 'category_view' 'Amigurumi' %}" class="d-block">
                    <img src="{% static 'images/amigurumi.png' %}" alt="Amigurumi" class="img-fluid rounded">
                </a>
                <h3 class="mt-2">Amigurumi</h3>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card-3">
                <a href="{% url 'category_view' 'Scarves' %}" class="d-block">
                    <img src="{% static 'images/scarves.png' %}" alt="Scarves" class="img-fluid rounded">                  
                </a>
                <h3 class="mt-2">Scarves</h3>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card-4">
                <a href="{% url 'category_view' 'Hats' %}" class="d-block">
                    <img src="{% static 'images/hats.png' %}" alt="Hats" class="img-fluid rounded">                   
                </a>
                <h3 class="mt-2">Hats</h3>
            </div>
        </div>
        <!-- Dishcloths Category -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="category-card-5">
                <a href="{% url 'category_view' 'Dishcloths' %}" class="d-block">
                    <img src="{% static 'images/dishcloths.png' %}" alt="Dishcloths" class="img-fluid rounded">                    
                </a>
                <h3 class="mt-2">Dishcloths</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

